.App {
  padding: 50px;
  background-image: url(https://wallpapercave.com/wp/OP9q4EZ.jpg);
}

.TaaTable-container {
  background-color: white;
  width: 1000px;
  margin: auto;
}

.TaaTable {

}

.TaaHeader {
  background-color: #aee8e8;
  font-size: 1em;
  font-style: normal;
}

.TaaRow {

}

.TaaCell {
  background-color: #eaeaea;
  border: 0.5px black solid;
  margin: 0;
}